<div ng-hide="locals.invitem.crafter_name == '' && locals.invitem.serial_number == ''">
    <div style="border-bottom: 1px solid #eee; font-weight: 700;">Crafting Infromation</div>
    <div>
        <span class="col-xs-2 text-right" style="font-weight: 400;">Crafter Name:</span>
        <span>{{locals.invitem.crafter_name}}</span>
    </div>
    <div>
        <span class="col-xs-2 text-right" style="font-weight: 400;">Serial:</span>
        <span>{{locals.invitem.serial_number}}</span>
    </div>
</div>