<div class="container-fluid">
    <div ng-include="'/SWGEmuArmorySPA/View/Inventory/Crafter.Partial.html'"></div>
    <div ng-include="'/SWGEmuArmorySPA/View/Inventory/Pharmaceutical/PharmaceuticalBase.Partial.html'"></div>
    <div class="container-fluid">
        <div class="row" style="border-bottom: 1px solid #eee; font-weight: 700;">Revive Infromation</div>
        <div class="row">
            <span class="col-md-4 text-right" style="font-weight: 400;">Health Healed:</span>
            <span>{{locals.invitem.health_healed}}</span>
        </div>
        <div class="row">
            <span class="col-md-4 text-right" style="font-weight: 400;">Health Wound Healed:</span>
            <span>{{locals.invitem.health_wound_healed}}</span>
        </div>
        <div class="row">
            <span class="col-md-4 text-right" style="font-weight: 400;">Action Healed:</span>
            <span>{{locals.invitem.action_healed}}</span>
        </div>
        <div class="row">
            <span class="col-md-4 text-right" style="font-weight: 400;">Action Wound Healed:</span>
            <span>{{locals.invitem.action_wound_healed}}</span>
        </div>
        <div class="row">
            <span class="col-md-4 text-right" style="font-weight: 400;">Mind Healed:</span>
            <span>{{locals.invitem.mind_healed}}</span>
        </div>
        <div class="row">
            <span class="col-md-4 text-right" style="font-weight: 400;">Mind Wound Healed:</span>
            <span>{{locals.invitem.mind_wound_healed}}</span>
        </div>
    </div>
    <div ng-include="'/SWGEmuArmorySPA/View/Inventory/Details.Partial.html'"></div>
</div>